#body, #skillset, #workhistory, #education
{
 font-family: 'Inconsolata', monospace;
}


img {
 
    display: block;
    margin: auto;
    width: 50%;
}

h1
{
  font-family: 'Inconsolata', monospace;
  font-size: 64px;
  text-decoration: underline;
  text-align: center;
}

}

body 
{
  background-image: url("bground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

#skillset, #workhistory, #education
{
  border-bottom: 4px solid black;
}

#address

{
text-align: center;
}
